@import url(https://allfont.ru/allfont.css?fonts=pixel);
@import url(https://allfont.ru/allfont.css?fonts=ds-digital-bold);

.text{
    margin: 0 auto;
    font-size: 150px;
    width: 400px;
    max-width: 50%;
    border: 4px solid #000;
}
.timer{
    
    font-size: 150px;
    font-family: 'DS-Digital Bold', arial;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}